body{
  font-family: sans-serif;
  background-color: #edeffa;
}

.timeline {
  padding: 50px 0;
  position: relative;
}
.timeline-nodes {
    position: relative;
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
  padding: 5px 15px;
}
.timeline h3{
  color:#999;
  font-size: 12pt;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 15px 15px 10px;
}
.timeline h3 i {
 margin: 0 5px 0 15px;
}

.timeline h3 label {
  margin-right: 20px;
}

.timeline .precos{
  padding: 0 30px 20px;
  color:#636363;
}

.timeline .precos .row{
  border-top:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  padding: 10px 0;
}

.timeline .precos .row:first-child{
  border-top:0;
}

.timeline .precos .row:last-child{
  border-bottom:0;
}

.timeline .precos .rowheader{
  font-weight: bold;
}
.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 4%;
  width: 0;
  border-left: 3px solid #ccc;
  height: 100%;
  z-index: 1;
  transform: translateX(-50%);
}
.timeline-content {
  position: relative;
  border-radius: 10px ;
  box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
  background-color: #f7f7f7;
}

.timeline-nodes .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-image {
  position: relative;
  z-index: 100;
}
.timeline-image .svg {
  position: absolute;
  margin-left: -17px;
  z-index: 1;

}
.timeline-image img {
  position: relative;
  z-index: 100;
}

@media (max-width: 768px) {
  .timeline-content{
    margin-left: 12%
  }

  .timeline-image .svg{
    margin-left: 0px;
  }

  .timeline .precos .row:first-child{
    border-bottom:0 !important;
  }
  .timeline .precos .row:nth-child(2){
    border-top:0 !important;
  }
}
