
@font-face {
    font-family: 'ditofont';
    src: url('./../fonts/dito-font.eot');
    src: url('./../fonts/dito-font.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/dito-font.woff') format('woff'),
         url('./../fonts/dito-font.ttf') format('truetype'),
         url('./../fonts/dito-font.svg#dito-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'ditofont';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-check:before{content:'\0041';}
.icon-calendar:before{content:'\0042';}
.icon-clock:before{content:'\0043';}
.icon-money:before{content:'\0044';}
.icon-place:before{content:'\0045';}
